.div-datos-cliente{
    display: flex;
    flex-direction: column;
}

    .btn-compra{
        background: #16C79A;
        padding: 5px;
        color: #fff;
        text-decoration: none;
        border-radius: 16px;
        border-color: #16C79A;
        font-weight: bold;
        width: 30vh;
        font-size: 3vh;
        height: 10vh;
        margin-top: 48px;
        margin-left: 243px;
    }

    input{
        margin: 10px
    }

    .error{
        color: red;
        margin-bottom: -50px;
    }

@media all and (max-width: 1255px) {
    .btn-compra{
        height: 5vh;
        width: 25vh;
        font-size: 2vh;

    }
}