.otro-div{
    // display: flex;
    // flex-direction: row;
    // justify-content: space-around;
    // align-items: center;
    width: 480px;
    margin-top: 6px;
    background-color: #FFFFFF;
    
}

.form{
    background-color: #FFFFFF;
    
}