.article-detail{
    display: flex;
    justify-content: center;
    background-color: #ffff;
    margin-top: 126px;
    width: 90%;
    height: 80vh;
    padding-top: -60px;
    box-shadow: 0px 0px 5px rgba(12, 64, 141, 0.932);

}

    .div-img{
        margin: 20px;
    }
        .img-detail{
            height: 57vh;
            width: 40vh;
        }

    .div-detail{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #FFFFFF;
        margin-left: 40px;
        border: 1px solid rgba(36, 35, 35, 0.486);
        border-radius: 16px;
        height: 70vh;
        width: 55vh;
        padding: 10px;
        margin: 20px;
    }
        .titulo-detail{
            color: black;
            margin-top: 1rem;
            font-size: 2vw; 
            font-weight: 300;
            font-weight: bold;
        }

        .precio-detail{
            color: #03256C;
            font-size: 3.5vw; 
        }

        .count{
            margin-top: -50px;
        }

        .btn-comprar{
            background: #16C79A;
            display: block;
            width: 100%;
            padding: 20px;
            color: #fff;
            text-decoration: none;
            border-radius: 16px;
            border-color: #16C79A;
            font-weight: bold;
            font-size: 2.5vh;
        }

.div-btn{
    display: flex;
}
    .boton1{
        background: #16C79A;
        padding: 10px;
        color: #fff;
        text-decoration: none;
        border-radius: 16px;
        border-color: #16C79A;
        font-weight: bold;
        width: 26vh;
        font-size: 2.5vh;
        margin-right: 18px;
    }
    .boton2{
        background: #16C79A;
        padding: 10px;
        color: #fff;
        text-decoration: none;
        border-radius: 16px;
        border-color: #16C79A;
        font-weight: bold;
        width: 26vh;
        font-size: 2.5vh;

    }

    .overlay {
        background: rgba(0,0,0,.3);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .popup {
        background: #F8F8F8;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
        border-radius: 3px;
        font-family: 'Montserrat', sans-serif;
        padding: 20px;
        text-align:center;
        width: 600px;
    }
    
    .popup .btn-cerrar-popup {
        font-size: 16px;
        line-height: 16px;
        display: block;
        text-align:right;
        color: #BBBBBB;
    }

    .popup .btn-cerrar-popup:hover {
        color: #000;
    }

    .abrir-popup{
        text-decoration: none;
        text-align: center;
        color: rgb(58,134,250);
        font-weight: bold;
        font-size: 20px;
    }

    .img-pagos{
        height: 45vh;
        width: 85vh;
    }

@media all and (max-width: 750px) {
    .article-detail{
        margin-top: 280px;
        }
    }

@media all and (max-width: 650px) {
    .article-detail{
        margin-top: 310px;
        flex-direction: column;
        align-items: center;        
    }
    .div-img{
        margin-top: 115px;
        margin-bottom: -20px;
    }
        .img-detail{
            height: 50vh;
            width: 40vh;
        }
    
        .titulo-detail{
            font-size: 4vw; 
        }

        .precio-detail{
            color: #03256C;
            font-size: 4vw; 
        }
    }