.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C9D8B6;
    width: 90%;
    margin-top: 130px;
}

.cards{
    display: flex;
    flex: 2 1 auto;
    flex-flow: row wrap;
    background-color: #FFFFFF;
    width: 100%;
}