.article-detail{
    display: flex;
    justify-content: center;
    background-color: #ffff;
    margin-top: 130px;
    width: 90%;
    height: 82vh;
    padding-top: -60px;
}

    .div-img{
        margin: 20px;
    }
        .img-detail{
            height: 57vh;
            width: 40vh;
        }

    .div-detail{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #FFFFFF;
        margin-left: 40px;
        border: 1px solid rgba(36, 35, 35, 0.486);
        border-radius: 16px;
        height: 57vh;
        width: 55vh;
        padding: 10px;
        margin: 20px;
    }
        .titulo-detail{
            color: black;
            margin-top: 1rem;
            font-size: 2vw; 
            font-weight: 300;
            font-weight: bold;
        }

        .precio-detail{
            color: #03256C;
            font-size: 3.5vw; 
        }

        .count{
            margin-top: -50px;
        }

        .btn-comprar{
            // margin-top: 15px;
            background: #16C79A;
            display: block;
            width: 100%;
            padding: 20px;
            color: #fff;
            text-decoration: none;
            border-radius: 16px;
            border-color: #16C79A;
            font-weight: bold;
            font-size: 2.5vh;
        }

.div-btn{
    display: flex;
}
    .boton1{
        background: #16C79A;
        padding: 20px;
        color: #fff;
        text-decoration: none;
        border-radius: 16px;
        border-color: #16C79A;
        font-weight: bold;
        width: 28vh;
        font-size: 2.5vh;
    }
    .boton2{
        background: #16C79A;
        padding: 10px;
        color: #fff;
        text-decoration: none;
        border-radius: 16px;
        border-color: #16C79A;
        font-weight: bold;
        width: 27vh;
        font-size: 2.5vh;

    }

   