.navbar{
    background: #03256C;
    padding: 0px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
}

    .nav-enlace, .div-cart{
        display: inline-block;
        background: #042a7e;
        color: #E7E7DE;
        font-weight: bold;
        padding: 10px 30px;
        text-decoration: none;    
        margin-left: 10px;
        cursor: pointer;
        font-family: 'Montserrat Alternates', sans-serif; 
    }

    .item-cart{
        color: white;
    }

    .nav-enlace:hover{
        background: #042f8a;
        text-decoration: underline;
    }

    .div-cart:hover{
        background: #042f8a;
    }
    
    .titulo-prin{
        color: #E7E7DE;
        font-family: 'Righteous', cursive;
        flex: 1 1 auto;
        font-size: 40px;
        margin: -5px;
        width: 250px;
        text-decoration: none;
    }

        .cant-items{
            border-radius: 50%;
            background-color: springgreen;
            width: 15px;
            color: black;
            font-size: 15px;
            text-align: center;
            position: absolute;
            margin-left: 22px;
            bottom: 28px;
        }

    .div-nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 1000px;
        padding-right: 20px;
    }

@media all and (max-width: 990px) {
    .navbar{
        flex-direction: column;
      
    }

    .div-nav{
        justify-content: center;
        width: 100%;
    }
}

@media all and (max-width: 750px) {
    .navbar{
        flex-direction: row;
        padding-left: 50px;
    }

    .div-nav{
        flex-direction: column;
        justify-content: center;
        margin-right: -70px;
    }

    .nav-enlace{
        display: flex;
        justify-content: center;
        margin-left: -50px;
        margin-top: 10px;
        width: 100%;
    }
    .div-cart{
        display: flex;
        margin-top: -8px;
        margin-bottom: 10px;
        justify-content: center;
        width: 135px;
        margin-left: -2px;
    }

    
}

@media all and (max-width: 575px){
    .navbar{
        flex-direction: column;
    }
    .div-nav{
        margin-right: -10px;
    }
}